<a href="https://colab.research.google.com/github/maeve70/dummy.data.Faker/blob/main/DummyDataUsingFaker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is the coolest Python module!!
See inspiration here! :

https://towardsdatascience.com/faker-an-amazing-and-insanely-useful-python-library-b313a60bdabf

Faker documentation: 

https://faker.readthedocs.io/en/master/index.html

In [ ]:
!pip install faker

In [53]:
#imports to create a fake df
#use the random library to generate fake ages. there is no age variable in Faker
from faker import Faker
fake = Faker()
import random
import pandas as pd
Faker.seed(0)
random.seed(0)
fake = Faker("en_US") #can pass in different providers as a list

In [54]:
fake.name()

'Norma Fisher'

In [43]:
for _ in range(10):
    print(fake.name())

Jorge Sullivan
Elizabeth Woods
Susan Wagner
Peter Montgomery
Theodore Mcgrath
Stephanie Collins
Stephanie Sutton
Brian Hamilton
Susan Levy
Sean Green

In [ ]:
fake.job()

'Sports therapist'

In [ ]:
for _ in range(10):
    print(fake.job())

Administrator, education
Chief Financial Officer
Oceanographer
Accommodation manager
Veterinary surgeon
Research officer, political party
Lecturer, further education
Financial planner
Journalist, magazine
Biomedical scientist

In [ ]:
fake.address()

'398 Wallace Ranch Suite 593\nIvanburgh, RI 86570'

In [ ]:
fake.text()

'Aperiam ullam totam at saepe. A laudantium sint doloribus eveniet sit deleniti necessitatibus. Rem consequuntur molestiae at voluptatibus.'

In [ ]:
fake1 = Faker("fr_FR")

In [ ]:
fake1.name()

'Denis Morel'

In [ ]:
fake1.address()

'568, rue de Fabre\n94775 Sainte JulietteBourg'

In [ ]:
fake1.street_name()

'boulevard Louise Daniel'

In [ ]:
fake.locale()

'fr_CH'

In [ ]:
fake.date()

'2006-12-14'

In [44]:
for i in range(10):
    print(fake.date())

2007-05-04
1970-12-16
1976-05-07
2018-12-23
1997-02-20
2018-05-02
2015-06-21
2012-07-20
1970-01-29
2011-08-22

You can select a region too!

https://faker.readthedocs.io/en/master/locales.html

In [ ]:
fake2 = Faker("de_DE")

In [ ]:
fake2.name()

'Pascal Hiller'

In [ ]:
fake2.address()

'Geißlerring 0/1\n30989 Auerbach'

In [ ]:
fake2.job()

'Beamter'

In [ ]:
fake2.text()

'Ohne unter fiel seit damit fahren Stelle ging. Bringen der schnell Auge. Onkel will nicht bekommen darauf einigen turnen.\nBlume Uhr dafür nichts Eltern Zeit. Lange sehr Baum schenken.'

In [ ]:
fake.date_time()

datetime.datetime(2013, 3, 19, 0, 12, 8)

In [ ]:
#faker.providers.internet
Faker.seed(0)
for _ in range(5):
    fake.ascii_company_email()
print(fake.ascii_company_email())

cortezraymond@garrett.com

In [ ]:
#name, city, country, job, age = [[] for k in range (0, 5)]

In [46]:
Faker.seed(0)
for _ in range(5):
    fake.email()
    print(fake.email())

tammy76@example.com
juancampos@example.net
corey15@example.com
tammywoods@example.net
ypage@example.net

In [48]:
fake.name()

'Nicholas Padilla'

In [63]:
#create fake df!
name, city, country, job, age, date = [[] for k in range(0,6)] 
for row in range(0,100):
    name.append(fake.name())
    city.append(fake.city())
    country.append(fake.country())
    job.append(fake.job())
    age.append(random.randint(20,100))
    date.append(fake.date())

d = {"Name":name, "Age":age, "City":city, "Country":country, "Job":job, "Date": date}
df = pd.DataFrame(d)
df.head()

,Name,Age,City,Country,Job,Date
0,Dipl.-Ing. Björn Scheel,65,Osterburg,Tschad,Binnenschiffer,2018-09-14
1,Bruni Löffler B.Eng.,34,Wunsiedel,Sudan,Designer,2020-04-17
2,Franjo Margraf,28,Kleve,Mazedonien,Augenoptiker,1993-06-07
3,Nadia van der Dussen-Krause,23,Vilsbiburg,Serbien,Chemikant,2014-08-24
4,Gerhard Schönland,87,Osterburg,Sri Lanka,Pfleger,1984-04-19

In [64]:
df["Age"].describe()

count    100.000000
mean      60.740000
std       24.417505
min       20.000000
25%       38.750000
50%       62.000000
75%       83.000000
max       99.000000
Name: Age, dtype: float64

In [ ]:
df['Country'].value_counts()

In [66]:
df['Country'].describe()

count          100
unique          82
top       Kroatien
freq             3
Name: Country, dtype: object